body {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
    color: white;
}

a {
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

ol {
    padding: 0;
}

ol li {
    font-size: 1.2rem;
    padding: 0.3rem 0rem 0.3rem 1rem;
}

/* remove damn button styles */
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#blur {
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#bg-image {
    background-image: url('./assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#buttons {
    display: flex;
    flex-flow: column wrap;
}

.line {
    border-bottom: 0.1rem white solid;
    width: 20rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

#yt-wrapper {
    display: flex;
    justify-content: space-around;
}

#yt-container {
    position: relative;
    width: 80%;
    height: 0;
    padding-bottom: 56.25%;
}

#yt-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.voting {
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    padding: 1.5rem;
    flex-shrink: 1;
    margin: 0.5rem auto;
    background-color: rgba(124, 131, 131, 0.7);
}

/* 
    Below are comments to switch from the voting buttons being
    hidden to being live. change button-wrap to flex to see it 
    on the page, and disable the vote on monday reminder with the section below that
 */

.button-wrap {
    /* display: none; */
    display: flex;
    flex-flow: column wrap;
}


#novote {
    display: none;
}

.questions {
    width: 55vw;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}