body {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

#buttons {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
}

#buttons ,
button {
    width: 20vw;
}